@model AftermathArc.Models.podcast_comments
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AddPodcastComments", "Podcast", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.Hidden("podcast_id", ViewContext.RouteData.Values["id"])
                @Html.TextAreaFor(model => model.comment, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="submit" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
}
